#BSUB-J {{ job_name }}[1-{{ n_jobs }}]
#BSUB-o {{ log_file | /dev/null }}
#BSUB-M {{ memory | 4096 }}
#BSUB-R rusage[mem={{ memory | 4096  }}]

ulimit -v $(( 1024 * {{ memory | 4096 }} ))
R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
