ssh -o "ExitOnForwardFailure yes" -f
    -R {{ ssh.hpc_fwd_port }}:127.0.0.1:{{ local_port }}
    {{ ssh_host }}
    "R --no-save --no-restore -e
        'clustermq:::ssh_proxy({{ ssh.hpc_fwd_port }})'
        > {{ ssh_log | /dev/null }} 2>&1"
