ssh -o "ExitOnForwardFailure yes" -f \
    -R {{ remote_port }}:127.0.0.1:{{ local_port }} \
    {{ ssh_host }} \
    "R --no-save --no-restore -e \
        'clustermq:::ssh_proxy({{ remote_port }})' \
        > {{ ssh_log | /dev/null }} 2>&1"
